services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${MSSQL_PASSWORD:-SuperSecretRandomKey1238709!@#}
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql:/var/opt/mssql/data
      
volumes:
  mssql: